body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header h1 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: darkblue;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}


.tabla-actividades,
.tabla-actividades th,
.tabla-actividades td {
    border: 1px solid #999;
    border-collapse: collapse;
}
